@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@font-face {
    font-family: 'StarWarsFont';
    src: url('../fonts/Starjhol.ttf'); /* Replace the path and file name with your font file */
  }

h1 {
    font-family: 'StarWarsFont';
    font-size: 5em;
    color: #ffe81f;
    margin-left: 10px;
}
h2, h3, h4, h5, h6 {
    margin-bottom: 0.75em;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url('/background-sw.jpg');
    background-position: center;
    color: white;
}

a {
    color: #ffe81f;
}

.navbar {
    background-color: rgb(14, 13, 13);
}

.card {
    color: white;
    background-color: rgb(14, 13, 13);
    border-color: rgb(14, 13, 13);
    opacity: 80%;
}

.list-group-item {
    color: white;
    background-color: rgb(14, 13, 13);
    border-color: black;
}

.button {
    color: #ffe81f;
    border-color: #ffe81f;
    --bs-btn-hover-bg: #ffe81f;
    --bs-btn-hover-border-color: #ffe81f;
}
